<nav class="bg-blue">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="logo" src="/assets/logo-01.png"><h2>Library Maps | Admin panel |
      <a href="/admin/index">Review Feedback</a></h2>
    </div>
  </div>
</nav>
<!--[if IE]><script src="/assets/Delicious.font.js"></script><![endif]-->
<link href='https://fonts.googleapis.com/css?family=Plaster' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>
