<ul class="nav navbar navbar-nav">
  <li>
    <button class="btn shortcutbtn green" onclick="saveCanvas()"><span class="glyphicon glyphicon-floppy-disk"></span>
    </button>
  </li>
  <li>
    <button class="btn shortcutbtn orange" onclick="removeSelected()"><span class="glyphicon glyphicon-trash"></span>
    </button>
  </li>
  <li>
    <button class="btn shortcutbtn btn-primary" onclick="publishMap()"><span class="glyphicon glyphicon-export"></span>
      Publish
    </button>
  </li>
</ul>

<%= render 'layouts/set_lib_and_floor' %>