<% if @library == 'main' then %>
    <div class="compass-up">
      Meadows
    </div>
    <div class="compass-down">
      George Square
    </div>
<% else %>
    <div class="compass-up">
      North
    </div>
    <div class="compass-down">
      South
    </div>
<% end %>