<!-- User feedback interface -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div id="main-container">
  <!--nav-->
 <nav class="bg-blue">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="logo" src="/assets/logo-01.png" title="University of Edinburgh Library Maps" alt="University of Edinburgh Library Maps">
            <h2>Frequently Asked Questions</h2>
        </div>
      <div class="navbar" id="myNavbar">
        <ul class="nav navbar-nav navbar-right ">
          <li><%= link_to '<i class="fa fa-map" aria-hidden="true"></i>&nbsp;Maps'.html_safe, {controller: "map_display", action: "map"}, class: "white-font", data: { no_turbolink: true } %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-send"></span>Feedback'.html_safe, {controller: "map_display", action: "feedback"}, class: "white-font", data: { no_turbolink: true } %></li>

        </ul>
      </div>
   </div>
  </nav>
<!--info text-->
  <div class="faq-container text-left">
    <h3>Reporting a problem</h3>
    <p>Please report any problems with this site to <a href="http://www.ed.ac.uk/is" target="_blank">Information Services</a> Helpine at: <a href="mailto:IS.Helpline@ed.ac.uk">IS.Helpline@ed.ac.uk</a>.</p>

    <h3>Known Issues</h3>
    <p>The identification of items through pinpoints from <a href="http://discovered.ed.ac.uk" target="_blank">DiscoverEd</a>
      is currently not available in <b>Internet Explorer</b>, please use DiscoverEd in another browser to locate your item. </p>

    <h3>The item is not on the shelf</h3>
    <p>The item you are looking for may not be on the shelf as it is being used by someone else within the Library, is
      on the recent returned shelves, or has been mis-shelved. Please look on the recent returned shelves and around the
      shelving location indicated on the map.</p>

    <h3>Why are there only maps for the Main Library and Noreen and Kenneth Murray Library?</h3>
    <p>This intention is to extend the maps to further libraries in the future, however currently only the Main and
      Murray libraries have been mapped. Please let us know via the feedback the library that you would like to see on this site.</p>

    <h3>Feedback</h3>
    <p>You can provide feedback on this website using the <%= link_to 'feedback', {controller: "map_display", action: "feedback"}, data: { no_turbolink: true } %> form. </p>

  </div>
  <!--Footer-->
  <div class="footerHolder">
    <p>
      Unless explicitly stated otherwise, all material is copyright © <a href="www.ed.ac.uk" target="_blank">The University of Edinburgh</a>
      <script type="text/javascript">
        var currentTime = new Date()
        var year = currentTime.getFullYear()
        document.write(+ year)
      </script>&nbsp;|

      <a href="http://www.ed.ac.uk/about/website/accessibility" title="Website Accessibility" target="_blank">Website accessibility</a>&nbsp;|
      <a href="http://www.ed.ac.uk/about/website/privacy" title="Privacy & Cookies" target="_blank">Privacy & Cookies</a>
    </p>
  </div>
</div>