<!-- User feedback interface -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div id="main-container">
  <nav id="mappingNavbar" class="bg-blue" role="navigation">
    <%= render 'mapping_navbar' %>
  </nav>
  <div class="faq-container text-left">
    <h3>Reporting a problem</h3>
    <p>Please report any problems with this site to Information Services Helpine at: <a href="mailto:IS.Helpline@ed.ac.uk">IS.Helpline@ed.ac.uk</a>.</p>

    <h3>Known Issues</h3>
    <p>The identification of items through pinpoints from DiscoverEd is currently not available in <b>Internet Explorer</b>,
      please use DiscoverEd in another browser to locate your item. </p>

    <h3>The item is not on the shelf</h3>
    <p>The item you are looking for may not be on the shelf as it is being used by someone else within the Library, is
      on the recent returned shelves, or has been mis-shelved. Please look on the recent returned shelves and around the
      shelving location indicated on the map.</p>

    <h3>Feedback</h3>
    <p>You can provide feedback on this website using the <%= link_to 'feedback', {controller: "map_display", action: "feedback"}, data: { no_turbolink: true } %> form. </p>

  </div>
  <!--Footer-->
</div>