// Place all the styles related to the map_display controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
	height: 100%;
}

#image-map {
	width: 100%;
	height: calc(100% - 119px);
	border: 1px solid #ccc;
	margin:auto;
}

#main-container{
	height: 100%;
}

.footerHolder{
  background: #1b325e none repeat scroll 0 0;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
}
#i-label{
	margin: 0;
	font-size: 1em;
	color: #1B325E;
	float: left;
}
#tip-close{
	margin: 0;
	font-size: 1em;
	color: #A94442;
	float: right;
	cursor: pointer;
}
.tip{
	background-color: #ECEAD0;
	width: 100%;
}
.tip-btn{
	background-color: #ECEAD0;
    position: fixed;
    left: 0;
    color: #777;
    cursor: pointer;
    z-index: 1000;
    border-radius: 22%;
    border: 1px solid #ccc;
    padding: 4px;
    margin: 80px 10px;
}

.optionsTopBar{
  height: 40px;
  padding-top: 9px;
  label{
    margin-left: 30px;
  }

}

.btn-floor{
  margin-top: -3px;
}

.currentButton{
  background-color: #F0F0F0!important;
}